* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.content {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  text-align: center;
}

h1 {
  font-size: 30px;
  font-weight: 700px;
}

h2 {
  font-size: 24px;
  font-weight: 700px;
}

h3 {
  font-size: 18px;
  font-weight: 700px;
}

a {
  color: #ff9000;
}

a:visited {
  /* visited link */
  color: #0a6aad;
}

a:hover,
a:focus {
  text-decoration: none;
}

a:active {
  /* selected link */
  color: #5092c1;
}

button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: #ff9000;
  color: black;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.submit_button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: #ff9000;
  color: black;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: #ff9000;
  color: black;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

button:hover,
.submit_button:hover,
.button:hover,
button:focus,
.submit_button:focus,
.button:focus {
  cursor: pointer;
  opacity: 0.9;
}

.button_secondary {
  background-color: #0a6aad;
  color: white;
}

.navigation-list__item {
  text-decoration: none;
}

.navigation-list__item:hover,
.navigation-list__item:focus {
  opacity: 0.5;
}

.profile {
  max-width: 700px;
  margin: 0 auto;
}

.profile__portrait {
  float: left;
  width: 250px;
  margin-right: 40px;
  border-radius: 50%;
}

.page-footer {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 20px;
}

.page-header__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 200px;
  flex: 0 1 200px;
}

.page-header__item:last-child {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.text-center {
  text-align: center;
}

table,
th,
td {
  border-bottom: 1px solid #ddd;
}

table {
  width: 50%;
  border-collapse: collapse;
  margin: 20px auto;
  text-align: center;
}

th {
  height: 70px;
  background-color: #ff9000;
}

/* start grid fallback */

.project-list {
  display: inline-block;
  width: 33%;
}

/* end grid fallback */

@supports (display: grid) {
  .project-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    width: auto;
    margin: 0;
    text-align: left;
  }

  .project-list__item {
    background-color: lightgray;
    width: auto;
    min-height: auto;
    margin: 0;
  }

  .project-list__item:last-child {
    -ms-grid-column: 3;
    grid-column: 3 / 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / 3;
  }
}

@media all and (max-width: 500px) {
  .project-list {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .project-list {
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 750px) {
  .project-list {
    grid-gap: 10px;
  }

  .project-list__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  h1 {
    font-size: 22px;
  }
}

svg {
  width: 100%;
  height: auto;
}

@-webkit-keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

.sun {
  -webkit-animation: 6s color-change infinite alternate linear;
  animation: 6s color-change infinite alternate linear;
}

@-webkit-keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
    transform: translate(0, 50px);
  }

  to {
    -webkit-transform: translate(200px, 50px);
    transform: translate(200px, 50px);
  }
}

@keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
    transform: translate(0, 50px);
  }

  to {
    -webkit-transform: translate(200px, 50px);
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  -webkit-animation: 30s cloud-move infinite alternate linear;
  animation: 30s cloud-move infinite alternate linear;
}

@-webkit-keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
    transform: translate(446px, 48px);
  }

  to {
    -webkit-transform: translate(100px, 48px);
    transform: translate(100px, 48px);
  }
}

@keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
    transform: translate(446px, 48px);
  }

  to {
    -webkit-transform: translate(100px, 48px);
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  -webkit-animation: 25s cloud-move-reverse infinite alternate linear;
  animation: 25s cloud-move-reverse infinite alternate linear;
}

/* contact form start */
input[type=text],
input[type=tel],
input[type=email],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid gray;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #ff9000;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  opacity: 0.9;
}

.container {
  border-radius: 5px;
  background-color: #5092c1;
  padding: 20px;
  max-width: 500px;
  margin: auto;
}

/* contact form end */
